.devBox {
  color: #cccccc;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;

  .devTitle {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .devLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    @media (width < 480px) {
      flex-direction: column;
    }

    .devLogo {
      height: 24px;
      width: auto;
    }

    .devText {
      white-space: nowrap;
      font-size: 14px;

      & span {
        @media (width < 480px) {
          display: none;
        }
      }
    }
  }
}
